@import url("https://use.typekit.net/yej6ymi.css");
html {
font-size: 16px;
}

body {
    background-color: #F7F3DF;
    font-family: puffin-display-soft, sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {

}

nav {

}

main {

}

footer {

}